slprj/*
*.avi
*.slx
*.slxc
*.kdev4
*.autosave
tests/CMakeFiles
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
tests/external/tmp
tests/limit_cycle_walking_tests.cbp
*.cmake
*.
.kdev4/
