<launch>

    <param name="robot_description" textfile="/home/francesco/advr-superbuild/configs/ADVR_shared/cogimon/urdf/cogimon.urdf"/>
    <param name="robot_description_semantic" textfile="/home/francesco/advr-superbuild/configs/ADVR_shared/cogimon/srdf/cogimon.srdf"/>
    <param name="problem_description" textfile="/home/francesco/advr-superbuild/external/limit_cycle_walking/cogimon_walker/VC_cartesio/problems/comanPlus_VC_stack.yaml"/>
    
    <include file="$(find cartesian_interface)/launch/cartesio_include.launch"/>

</launch>
